@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');

body{
    font-family: 'Nanum Myeongjo', serif;
}
 .navbar-expand-md{
    z-index:5;
    background-color:rgba(0, 20 , 20, 0.8);
}

.header .navbar-expand-md{
    z-index:5;
    background-color:rgba(0, 20 , 20, 0.8);
}
nav .navbar-brand
{
    /* size for brand */
    font-size: 24px;
  font-weight: bold;
  color: #fff !important;
  font-style: italic;
}
nav .navbar-brand:hover
{
  letter-spacing: 5px;
}
/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

/* ######################## LOGIN ######################## */
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.view-height {
    position: relative;
    text-align: center;
    padding-top:10vh;

}
.account-wall
{
    margin-left: 30%;
    margin-right: 30%;
    padding: 40px 0px 20px 0px;
    background-color: rgba(255,255,255,0);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
}
.btn-outline-success{
  color: #fff !important;
  background-color: #3D9325 !important;

}

.btn-outline-success:hover{
  color: #3D9325 !important;
  background-color: #fff !important;

}

.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.new-account
{
    display: block;
    margin-top: 10px;
}
#map {
    height: 400px;
    margin-bottom: 20px;
    border-radius: 30px;
}

.smaller {
        width: 65px;
}

/* ########### animation ################*/

.col-md-9 .thumbnail {
    padding: 0px;
    border: solid 1px #ccc;
    border-radius: 2%;
}

.col-md-9 .thumbnail img{
    height: 500px;
    width: 500px;
}

paragraph1 {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify !important;
}
#myMessage{
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 40px;
    border: solid 1px green;
    border-radius: 5px;
}

.col-sm-6 {
    margin-bottom : 15px;
}
a {
    transition: 1s;
    text-decoration: none;
    color:rgba(0, 20 , 20, 0.8);
}
a:hover{
    color:rgba(0, 20 , 20, 0.8);
}
.nav-item{
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    -webkit-transition: border 500ms ease;
  -moz-transition: border 500ms ease;
  -ms-transition: border 500ms ease;
  -o-transition: border 500ms ease;
  transition: border 500ms ease;
}
.nav-item:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 1);;
}

/*######################## EDIT PAGE ########################*/
.btn_edit{
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;

}

/*######################## EDIT PAGE ########################*/
