{% extends "layout.html" %}

{% block title %}
    Add
{% endblock %}

{% block main %}
        {% if product is defined  %}
        <form action="/edit_product?product_id={{ product.product_id }}" method="post">
        <div class="form-group">
            <input  autofocus class="form-control" name="product_name" placeholder="Product Name" type="text" value="{{ product.name }}"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="product_description" placeholder="Description" type="text" value="{{ product.description }}"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="latitude" placeholder="Latitude" type="text" value="{{ product.latitude }}"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="longitude" placeholder="Longitude" type="text" value="{{ product.longitude }}"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="price" placeholder="Price" type="number" step="0.01" value="{{ product.price }}"/>
        </div>
        <button class="btn btn-primary" type="submit">Edit</button>
        {% else %}
        <form action="/add" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input  autofocus class="form-control" name="product_name" placeholder="Product Name" type="text" required/>
        </div>
        <div class="form-group">
            <input class="form-control" name="product_description" placeholder="Description" type="text" required/>
        </div>
        <div class="form-group">
            <input class="form-control" name="latitude" placeholder="Latitude" type="text" required/>
        </div>
        <div class="form-group">
            <input class="form-control" name="longitude" placeholder="Longitude" type="text" required/>
        </div>
        <div class="form-group">
            <input class="form-control" name="price" placeholder="Price in USD" type="number" step="0.01" required/>
        </div>
        <div class="form-group">
            <input type="file" name="image" required>
        </div>
        <div class="form-group">
            <input type="file" name="images[]" multiple>
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
        {% endif %}
    </form>
{% endblock %}
