{% extends "layout.html" %}

{% block title %}
    Product Details
{% endblock %}

{% block main %}

          <div>{{ product["name"] }}</div>
          <div>{{ product["description"] }}</div>
          <div>{{ usd(product["price"]) }}</div>
          <div class="thumbnail"><img src="{{ image_paths[0]["path"]}}"></div>
          {% if product_owner %}
          <a href="/edit_product?product_id={{product["product_id"]}}">edit me</a>
          {% else %}
          <h1>HELLO</h1>
          {% endif %}

    <ul id="messages">
        {% for msg in messages %}
            <li>{{msg.text}} by {{ msg.username }} @ {{ msg.time }}</li>
        {% endfor %}
    </ul>
    <input type="text" id="myMessage">
    <button id="sendbutton">Send</button>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        var socket = io.connect('http://ide50-waelazar1.cs50.io:8080');
        socket.on('message', function(msg) {
            $("#messages").append('<li>'+msg.message+' by '+msg.username+' @ '+msg.time+'</li>');
            console.log('Received message');
        });
        $('#sendbutton').on('click', function() {
            socket.send({message:$('#myMessage').val(), user_id:{{ user_id }}, product_id:{{product.product_id}}});
            $('#myMessage').val('');
        });
    });
    </script>

{% endblock %}