{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="container view-height">
        <div class="account-wall">
            <form action="/login" method="post" class="form-signin">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required/>
            <input class="form-control" name="password" placeholder="Password" type="password" required/>
            <button class="btn btn-lg btn-outline-success btn-block" type="submit">
                Sign in</button>
            </form>
        </div>
        <a href="/register" class="text-center text-primary new-account">Create an account</a>
<div id="particles-js"></div>
</div>

<script src="particles.js"></script>
{% endblock %}
