{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="container view-height">
    <div class="account-wall">

        <form action="/register" method="post" class="form-signin">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required/>
            <input class="form-control" name="password" placeholder="Password" type="password" required/>
            <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password" required/>
        <button class="btn btn-lg btn-outline-success btn-block" type="submit">
            Sign up</button>
        <label class="checkbox pull-left" required>
            <input type="checkbox" value="terms">
            <a href="#">Term and Copyrights</a>
        </label>
        </form>
    </div>
    <a href="/login" class="text-center new-account">Log in</a>
</div>
{% endblock %}
